<html>
    
    <!-- HEAD -->  
    <head>
    	<title>vue_marvel</title>
     	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
   
	<!-- BODY -->
   	<body>
   
	    <!-- APP -->
	    <div id="root">
	    	
	    	<h2>Welcome to {{ appName }}</h2>
	    	
	    	<div>
		    	<input v-model.lazy="query" placeholder="search..." v-on:keyup.enter="search">
		    	<button type="submit" v-on:click.prevent="search">search</button>
	    	</div>
	    	
	    	<div style="float: left">
		    	<ul style="list-style: none;">
				    <li v-for="i in characters">
				      <span> <button v-on:click="add_to_fav(i)"> add </button> </span>
				      <a> {{i}} </a>
	      		    </li>
				</ul>
			</div>

			<div style="float: right">
				<ul>
					 <li v-for="i in favorite_chars">
				      <span> <button v-on:click="rm_from_fav(i)"> rm </button> </span>
				      <a> {{i}} </a>
	      		    </li>
				</ul>
			</div>

	    </div>
   
   		<!-- FIREBASE -->
	    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
	    <script>
	      // conf        
	      var config = {
	        apiKey: "AIzaSyDglJRO39VRp_T3p_C7SidsLcHj8LQJtSc",
	        authDomain: "vue-marvel.firebaseapp.com",
	        databaseURL: "https://vue-marvel.firebaseio.com",
	        projectId: "vue-marvel",
	        storageBucket: "vue-marvel.appspot.com",
	        messagingSenderId: "171904914027"
	      };
	      firebase.initializeApp(config); //add conf to global 'firebase' obj
	    </script>
   
	    <!-- VUE -->
	    <script type="text/javascript" src="https://unpkg.com/vue"></script>
	    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
	    <script type="text/javascript" src="main.js"></script>

   	</body>

</html>