<html>
    
    <!-- HEAD -->  
    <head>
    	<title>vue_marvel</title>
     	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
   
	<!-- BODY -->
   	<body>
   
	    <!-- APP -->
	    <div id="root">
	    	
	    	<h2>Welcome to {{ appName }}</h2>
	    	<!-- <h2 v-text='unMas'></h2> -->
	    	
	    	<input v-model.lazy="query" placeholder="search..." v-on:keyup.enter="search">
	    	<button type="submit" v-on:click.prevent="search">search</button>
	    	<!-- <div>you are searching for ... {{query}} </div> -->

	    	<br/>

	    	<!-- <label><input type="checkbox" value="foo" v-model="checkbox_results">foo</label>
	    	<label><input type="checkbox" value="bar" v-model="checkbox_results">bar</label>
	    	<h3>checked: {{checkbox_results}} </h3>

	    	<ul><li v-for="i in list"> {{i}} </li></li></ul>
	    	<ul><li v-for="i in list2"> {{i}} </li></li></ul> -->
	    	
	    	<ul><li v-for="i in characters"> {{i}} </li></li></ul>

	    </div>
   
	    <!-- SCRIPTS -->
	    <script type="text/javascript" src="https://unpkg.com/vue"></script>
	    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
	    <script type="text/javascript" src="main.js"></script>

   	</body>

</html>